table {
   margin: 20px auto;
   border: 3px solid black;
   width: 65%;
   border-spacing: 0 0;
}
td {
   height: 0;
}
td:after {
   content: "";
   display: block;
   padding-bottom: calc(50% - 0.5em);
}

td:before {
   content: "";
   display: block;
   padding-bottom: calc(50% - 0.5em);
}

/* tr {
   padding: 15px;
} */
.black {
   background-color: black;
}
